@charset "UTF-8";

.modal {
    position: fixed;
    display: none; /* 기본적으로 숨김 */
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw; /* 화면 전체 너비 */
    height: 100vh; /* 화면 전체 높이 */
    background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
    z-index: 1050; /* 부트스트랩 기본 z-index를 따라 설정 */
    overflow: hidden; /* 모달 밖 내용 숨김 */
}

.modal_body {
    position: relative;
    max-width: 600px; /* 최대 너비 설정 */
    width: auto; /* 콘텐츠에 따라 너비 자동 조정 */
    max-height: 90vh; /* 화면 높이의 90% 제한 */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
    overflow-y: auto; /* 내용이 길 경우 스크롤 활성화 */
}

